*{
    padding: 0;
    margin: 0;
}
.navbar-brand {
    color: gold !important;
    font-weight: bold;
  }
.nav-link{
    color: #000 !important;
    font-weight: bold !important;
}
  .nav-link:hover {
    background-color: gold;
    color: white !important;
    border-radius: 5px;
  }
  .introduction{
    padding-top: 15px;
  }
  .introduction h1{
    text-align: center;
    color: rgb(192, 124, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
  }
  .introduction p{
    text-align: center;
    padding: 15px;
  }
  .card h5{
    text-align: left;
    color: #cfa01e;
  }
  .card p{
    text-align: left;
    padding: 0;
  }
  .card a.btn.btn-custom{
    background: #cfa01e;
    color: aliceblue;
  }
  .product{
    margin-top: 15px;
    margin-bottom: 25px;
  }  
  .categories{
    margin: 15px 0 25px 0;
  }
  .categories h3{
    color: #cfa01e;

  }
  .categories p{
    text-align: left;
    padding: 15px 0 0 0;
    
  }
  .categories button{
    background: #cfa01e;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    color: aliceblue;
  }
  .right-categories a{
    line-height: 50px;
  }
  .right-categories h4{
    margin: 15px 0 15px 0;
    color: #cfa01e;
  }
  .right-categories h5{
    padding: 0;
    color: #cfa01e;
    margin: 0;
  }
  .right-categories p{
    padding: 0;
    line-height: 30px;
  }
  .right-categories img{
    margin-bottom: 10px;
  }
  .images-footer{
    padding: 0px 5px 0px 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
  }
  /* footer */
  .footer{
    background: #2c2a2a;
    padding-bottom: 30px;
  }
  .footer h3{
    color: #cfa01e;
    padding-top: 25px;
  }
  .footer .background-w{
    background: white;
    width: 100%;   
    padding: 15px;
    color: #000;
  }
.link a{
  display: block;
  line-height: 50px;
}
.footer p{
  color: aliceblue;
}
.footer .link-a a{
  background: #cfa01e;
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}